<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gurpreetsingh.project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    "
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".SafetyCareApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo_two"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDw2r-_IyayY4iWQVce3O5SdV3EV2CSPjY" />-->

        <!--
        for places api
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDw2r-_IyayY4iWQVce3O5SdV3EV2CSPjY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
-->
        <activity
            android:name=".SplashScreen"
            android:icon="@drawable/app_logo_two"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

            <!--  -->

        </activity>
        <activity
            android:name=".ui.activity.NumberVerify"
            android:label="Verification"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.UserInformation"
            android:label="@string/title_activity_user_information"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ReceiverInfo"
            android:label="@string/title_activity_receiver_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.AppSettings"
            android:label="@string/title_activity_app_settings"
            android:screenOrientation="portrait">

            <!--
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainMapScreen"
            android:label="@string/title_activity_main_map_screen">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".framework.service.VolumeService"
            android:enabled="true"
            android:exported="true"></service>
        <!--
        <receiver
            android:name=".ButtonsReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        -->
        <!--
        <service
            android:name=".AutoAnswerIntentService"
            android:exported="false" >
        </service>
        -->
        <service
            android:name=".framework.service.ShakeService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".ui.activity.NearbyPlaces"></activity>
        <activity android:name=".ui.activity.SignupActivity"></activity>
    </application>

</manifest>